################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/bin/win/Debug
/build
/MCU_SDK_MA101
/MCU_SDK_MA101.rar
